﻿
#MenuFixe {
    visibility: hidden;
}
.BarreMenu {
    visibility: hidden;
}
.BarreNavigation {
	position: absolute; left: 0px; top: 24px; width: 100%; max-width: 840px;
	font-size: 130%;
}
.TblIndexHard {
    position: relative; 
    margin-left: 4px; 
    margin-right: 4px; 
    margin-top: 0px;"
}
.FichierActuel {
    visibility: hidden;
}
.SaufMobiles {
    visibility: hidden;
}

.NumPg  {
    float:left;
}

.corps {
  margin-left: 10px;
}

.contenu {

  margin-left: 0px;
}