﻿#MenuFixe {
    visibility: visible;
}
.BarreMenu {
    visibility: visible;
}
.BarreNavigation {
	position: absolute; left: 0px; top: 55px; width: 100%; max-width: 840px;
	font-size: 100%;  
}
.TblIndexHard {
    position: relative; 
    margin-left: 8%; 
    margin-right: 1em; 
    margin-top: 60px;"
}
.FichierActuel {
    visibility: visible;
}
.SaufMobiles {
    visibility: visible;
}
.NumPg {
    float:right;
}

.corps {
  margin-left: 30px;
}

.contenu {
  margin-left: 25%;
}